# Asciinema install-id auth token should be ignored
/asciinema

# Filezilla ignored
# Todo: Add filezilla's settings xml file without secret data
/filezilla

# Virtualbox ignore
/VirtualBox

# Unity3D Ignore
/unity3d

# Spotify Ignore
/spotify

